*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
}

head {
    display: none;
}

body{
    min-height: 100vh;
    display: flex;
    background-color: #c29440;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gameContainer{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 180%;
    padding: 1.5rem;
}

#red{
    height: 50%;
    width: 49%;
    background-color: red;
    border-top-left-radius: 180%;
}

#blue{
    height: 50%;
    width: 49%;
    background-color: blue;
    border-top-right-radius: 180%;
    float: right;
}

#green{
    height: 50%;
    width: 49%;
    background-color: green;
    border-bottom-left-radius: 180%;
}

#yellow{
    height: 50%;
    width: 49%;
    background-color: yellow;
    border-bottom-right-radius: 180%;
    float: right;
}

#gameBtn{
    height: 200px;
    width: 200px;
    border-radius: 180%;
    background-color: black;
    position:absolute;
}